/.classpath
/.gradle/
/.project
/.settings/
/bin/
/build/
/data/system/nginx-access.log
/data/system/nginx-error.log
/data/system/nginx.pid
/data/system/nginx.conf
/data/system/java-binding
/data/system/database
/data/srv/third-party/
/dump/
/src/experiment
/other-documents/
/test-data/

