#editor {
	width: 100%;
	height: 520pt;
}

body {
	font-family: sans-serif;
}

.panel-holder {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.panel-row {
	display: table-row;
}
.panel-left {
	display: table-cell;
	width: 20%;
	vertical-align: top;
	padding-right: 6pt;
	cursor: default;
}
.panel-left-div {
	height: 600pt;
	overflow-y: scroll;
	padding: 2pt;
}
.panel-middle {
	display: table-cell;
	width: 60%;
	vertical-align: top;
}
.middle-page {
}
.panel-right {
	display: table-cell;
	width: 20%;
	vertical-align: top;
}
.panel-right-div {
	height: 600pt;
	overflow-y: scroll;
	padding: 2pt;
}

.file-list li.active {
    background: #f80;
}

.file-list li.untitled {
    color: #bbb;
}

.file-list li.active.untitled {
    color: #fff;
}

ul {
	margin: 0;
	padding-left: 12pt;
}
li {
   list-style: none;
}

// tree-node is the <li> element.

.tree-node.error {
	color: red;
}

.tree-node.notice {
	color: #ccc;
}

/*
tree-item is the block of text inside the <li> element which represents
the item itself (as opposed to its children).
*/

.tree-item-icon {
	width: 12pt;
	height: 12pt;
    background-size: 12pt;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 2pt;
    padding-right: 4pt;
}

.tree-item {
	white-space: nowrap;
	background-color: #fff;
}

.button-bar {
	height: 25pt;
}
.button {
    border: solid #ccc 1px;
    margin-right: 4pt;
    padding: 0pt 6pt;
	cursor: default;
}

.hidden {
	display: none;
}

.flash-activate.flash-activate {
	background-color: #4c4;
	transition: background-color 0.0s;
}

.flash-neutral {
	background-color: #888;
	transition: background-color 0.0s;
}

.flash-client-error {
	background-color: #800;
	transition: background-color 0.0s;
}

.flash-server-error {
	background-color: #f00;
	transition: background-color 0.0s;
}

.create-kind-background {
	margin: 4pt;
	border: solid #9be 2pt;
	border-radius: 2pt;
	background-color: #fff;
	transition: background-color 0.0s;
}
.create-kind-background:hover {
	background-color: #def;
}
.create-kind {
	background-color: transparent;
	padding: 14pt;
	cursor: default;
}

* {
	transition: background-color 0.5s;
}

.create-kind-icon {
	width: 24pt;
	height: 24pt;
    background-size: 24pt;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 2pt;
    padding-right: 12pt;
	vertical-align: middle;
}

.create-kind-name {
	vertical-align: middle;
	font-size: x-large;
}
