#editor {
	width: 100%;
	height: 520pt;
}

body {
	font-family: sans-serif;
}

.panel-holder {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.panel-row {
	display: table-row;
}
.panel-left {
	display: table-cell;
	width: 30%;
	vertical-align: top;
	padding-right: 6pt;
	cursor: default;
}
.panel-left-div {
	height: 600pt;
	overflow-y: scroll;
}
.panel-right {
	display: table-cell;
	width: 70%;
	vertical-align: top;
}
.buttons-holder {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.buttons-row {
	height: 30pt;
	display: table-row;
}
.buttons-left {
	display: table-cell;
	width: 70%;
	vertical-align: top;
}
.buttons-right {
	display: table-cell;
	width: 30%;
	vertical-align: top;
	text-align: right;
}

ul {
	margin: 0;
	padding-left: 12pt;
}
li {
   list-style: none;
}

// tree-node is the <li> element.

.tree-node.error {
	color: red;
}

.tree-node.notice {
	color: #ccc;
}

/*
tree-item is the block of text inside the <li> element which represents
the item itself (as opposed to its children).
*/

.tree-item::before {
	content:'';
	width: 12pt;
	height: 12pt;
    background-size: 12pt;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 2pt;
    padding-right: 4pt;
}

.tree-item.unknown-kind::before {
    background-image: url('/resources/images/pantheist-folder-closed.png');
}

.tree-item.unknown-kind.expanded::before {
    background-image: url('/resources/images/pantheist-folder-open.png');
}

.tree-item.java-package::before {
    background-image: url('/resources/images/java-package.png');
}

.tree-item.java-file::before {
    background-image: url('/resources/images/java-class-unknown.png');
}

.tree-item.java-interface-file::before {
    background-image: url('/resources/images/java-interface-unknown.png');
}

.tree-item.pojo-interface::before {
    background-image: url('/resources/images/pojo-interface.png');
}

.tree-item.kind::before {
    background-image: url('/resources/images/kind.png');
}

.tree-item.file::before {
    background-image: url('/resources/images/file.png');
}

.tree-item.directory::before {
    background-image: url('/resources/images/directory-closed.png');
}

.tree-item.directory.expanded::before {
    background-image: url('/resources/images/directory-open.png');
}

.tree-item {
}

.tree-item:hover {
	background: #eef;
}

.tree-item.active {
	background: #fdb;
}

.tree-item.active:hover {
	background: #fdb;
}

.address-bar {
	width: 100%;
}

.create-form {
	height: 25pt;
}

.tab-bar {
	height: 25pt;
}
.tab-bar .tab {
    border: solid #ccc 1px;
    margin-right: 4pt;
    padding: 4pt 10pt;
	cursor: default;
}
.tab-bar .tab.active {
	background: #fdb;
}
.tab-bar .action {
    border: solid black 1px;
    margin-right: 4pt;
    padding: 4pt 10pt;
	cursor: default;
	background: #0a0;
	color: white;
}
.tab-bar .scary-action {
    border: solid black 1px;
    margin-right: 4pt;
    padding: 4pt 10pt;
	cursor: default;
	background: #c60;
	color: white;
}
.tab-bar .gap {
	padding: 0pt 40pt;
}

.hidden {
	visibility: hidden;
}

.msg-flash {
	animation-duration: 0.5s;
	animation-name: flashtext;
	color: #ccc;
}

@keyframes flashtext {
	from {
		color: #000;
	}

	to {
		color: #ccc;
	}
}
